# Dependence
node_modules/*

# Log
yarn-error.log

# Editor
.DS_Store
.idea
**/.idea
.vscode

# Build
build/*

# test
coverage/

# doc
/docs
yarn-error.log

# ignore dist
remote_dist/*

# security && fabric config(include passwords)
conf/www.lianshucha.com.crt
conf/www.lianshucha.com.key
fabfile_config.py

